{% extends 'Salon/Layout.html' %}
{% load static %}
{% block title %}
Администрирование клиентов | Груминг салон для животных "Опрятные лапки" - стрижка собак и кошек
{% endblock %}
{% block content %}
    <div class="head-clients">
        <a href="javascript:history.back()" style="text-decoration:none; color:black; margin: 10px 0 0 40px;"><i class="bi bi-caret-left" style=" font-size: 50px;"></i></a>
        <div>
             <h1 class="name-service-part" style="margin: 0 0 0 50px;">Клиенты</h1>
        </div>
        <div class="search-serv-adm" style="margin: auto;">
            <form action="{% url 'admin_clients' %}" method="get" class="search-adm-input">
                <input name="search" type="text" placeholder="Поиск...">
                <button type="submit">Найти</button>
            </form>
        </div>
        <div class="search-serv-adm" style="margin: auto;">
                <form action="{% url 'registrations' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-reg_log" style="width:400px; margin:auto;">Зарегистрировать нового клиента</button>
                </form>
        </div>
    </div>




<div class="clients">
    {% for el in clients %}
    <div class="client">

        <div class="client-inf">
            <p>Номер телефона: {{ el.phone_number }}</p>
            <p>Фамилия: {{ el.surname }}</p>
            <p>Имя: {{ el.name }}</p>
            <a href="{% url 'admin_client_pets' el.id %}"><button class="btn-portfolio" style="margin: 10 0 0 0;">Профиль клиента и питомцы</button></a>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}
