{% extends 'Salon/Layout.html' %}
{% load static %}
{% block title %}
Форма редактирования профиля питомца | Груминг салон для животных "Опрятные лапки" - стрижка собак и кошек
{% endblock %}
{% block content %}
<div class="reg-pet">
<h3>Редактирование профиля питомца</h3>

<form class="form_add" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.name }}<br>
    {{ form.race }}<br>
    {{ form.age }}<br>
    {{ form.type }}<br>
    {{ form.photo }}<br>
    <span>{{ error }}</span>
    <p></p>
    <button class="btn-reg_log" type="submit">Сохранить</button>
</form>
</div>
{% endblock %}