{% load static %}
	<div class="footer__redes">
		<ul class="footer__redes-wrapper">
			<li>
				<a href="{% url 'home' %}" class="underline-one" style="text-decorations:none; color:white;">
					<i class="fab fa-vk"></i>
					вконтакте
				</a>
			</li>

			<li>
				<a href="{% url 'home' %}" class="underline-one" style="text-decorations:none; color:white;">
					<i class="bi bi-telegram"></i>
					telegram
				</a>
			</li>
			<li>
				<a href="{% url 'home' %}" class="underline-one" style="text-decorations:none; color:white;">
					<i class='fa fa-phone'></i>
					Контактный номер: +7 (985) 456-25-36
				</a>
			</li>
		</ul>
	</div>

