{% extends 'Salon/Layout.html' %}
{% load static %}
{% load humanize %}
{% block title %}
Услуги | Груминг салон для животных "Опрятные лапки" - стрижка собак и кошек
{% endblock %}
{% block head %}

{% endblock %}
{% block content %}

<div class="services">
    <div class="head-serv">
        <div class="div-text-serv">
             <h1 class="name-service-part">Каталог услуг</h1>
        </div>

         <div class="search-services" style="margin: auto; width: 700px; padding: 10px;">
            <form action="{% url 'services' %}" method="get" class="search-adm-input">
                <input name="search" type="text" placeholder="Поиск...">
                <button type="submit">Найти</button>
            </form>
        </div>

        <div class="record-btn-serv">
            <h5>Хотите записаться на прием в груминг салон "Опрятные лапки"?</h5>
            {% if user.is_authenticated %}
        <a href="{% url 'lk' %}"><button class="record-btn-s">Записаться на прием</button></a>
     {% else %}
        <script>
            function myFunction()
            {
              document.getElementById("demo").innerHTML = "Для записи на прием необходимо авторизоваться!";
            }
        </script>
        <button class="record-btn-s" onclick="myFunction()">Записаться на прием</button>
     {%endif %}
        {% if not user.is_authenticated %}
        <p class="message-serv-page" id="demo"></p>
        {% endif %}
        </div>
    </div>

     {% if services %}
    <div class="table-serv">
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th width="500px;">Название услуги</th>
                    <th width="300px;">Стоимость (руб.)</th>
                    <th>Описание</th>

                </tr>
            </thead>
            <tbody>
                {% for serv in services %}
                    <tr>
                        <td style="text-align:center;">{{ serv.id }}</td>
                        <td style="text-align:center;">{{ serv.name }}</td>
                        <td style="text-align:center;">{{ serv.price|intcomma }}</td>
                        <td>{{ serv.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div style="height: 20%; width: 700px; margin: 50 auto;">
        <h1 style="font-family: cursive; font-size: 30px; text-align:center; margin:10;">По вашему запросу ничего не найдено!
            <h1 style="font-family: cursive; font-size: 30px; text-align:center; margin:10;">Нажмите "Найти", чтобы увидеть все услуги</h1>
        </h1>
    </div>

    {% endif %}
</div>


{% endblock %}