@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Arimo');
.footer__redes {
background: #D4A373;
box-shadow: 3px 0 7px rgba(0,0,0,.3);
padding:10px;
margin: 10px 0 0 0;
}


.footer__redes-wrapper {
		display: flex;
		justify-content: center;
		gap: 40px;
		flex-wrap: wrap;
		max-width: 100%;
		margin: 35px auto;

	}

.footer__redes-wrapper 	li {
			transition: all ease 0.3s;
			display: inline-block;
		}



.footer__link {
		text-transform: uppercase;
		font-family: cursive;
		font-size: 20px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 15px;
        cursor: pointer;
         text-decoration: none;
        }

.underline-one {
list-style: none;
	color: white; /* Цвет обычной ссылки */
    position: relative;
    text-transform: uppercase;
		font-family: cursive;
		font-size: 20px;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 15px;
        cursor: pointer;
}
.underline-one:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: white; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.6s; /* Время эффекта */

}

.underline-one:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px; /* Высота линии */
    background-color: white; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.6s;  /* Время эффекта */
}






.footer {
	margin-top: 80px;
	.fab {
		margin-right: 8px;
	}
}

.footer__texto {

		color: white;
		text-align: center;
		font-family: cursive;
		font-size: 16px;
		margin:0;
	}

.separador {
	background-color: var(--faded-gray);
	height: 2px;
	max-width: 50px;
	margin: 0;
}

%transicion {
	transition: all ease 0.3s;
}






